@model IMS2.ViewModels.DepartmentIndicatorCountView

<div id="edit-department-Indicator">

    @using (Ajax.BeginForm("_Edit", "ProvidingDepartmentIndicatorAjax", new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "edit-department-Indicator", LoadingElementId = "edit-indicator-info-ajax", OnSuccess = "editItemSuccess" }, new { id="edit-department-indicator-id"}))
    {
    @Html.AntiForgeryToken()
    <fieldset class="col-md-12 panel panel-default">
        <legend class="text-primary">更改科室指标值</legend>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Department.DepartmentId)
        <input name="provideDepartment" value="@ViewBag.provideDepartment" type="hidden" />
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Department.DepartmentName, htmlAttributes: new { @class = "col-md-2 h5" })
                    <div class="col-md-4">
                        @*@Html.DisplayFor(model => model.Department.DepartmentName)*@
                        @Html.EditorFor(model => model.Department.DepartmentName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-2 h5">时间</div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.SearchTime, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
            </div>
        </div>

        @if (Model.DepartmentIndicatorValues.Count > 0)
        {
            int i = 0;
            <table class="table table-hover" id="edit-indicator-value-id">
                <tr>
                    <th>序号</th>
                    <th>指标</th>
                    <th>值</th>
                    <th>审核</th>
                    <th>时段</th>
                </tr>
                @foreach (var item in Model.DepartmentIndicatorValues)
                {
                    <tr>
                        <td>#@(i + 1)</td>
                        <td>
                            @Html.Hidden(String.Format("departmentIndicatorValues[{0}].DepartmentIndicatorValueId", i), item.DepartmentIndicatorValueId)
                            @*@Html.EditorFor(model => item.Indicator.IndicatorName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })*@
                            @Html.DisplayFor(model => item.Indicator.IndicatorName)
                        </td>
                        <td>
                            @*如果已审核，不能更改*@
                            @if (item.IsLocked == true)
                            {
                                @*@Html.EditorFor(model => item.Value, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })*@
                                @Html.DisplayFor(model => item.Value)
                            }
                            else
                            {
                                @Html.TextBox(String.Format("departmentIndicatorValues[{0}].Value", i), item.Value, new { @class = "form-control valueinput" })
                                @*@Html.ValidationMessageFor(model => item.Value, "", new { @class = "text-danger" })*@
                                @*<input  type="text" value="@item.Value" class="form-control valueinput" data-id="@item.DepartmentIndicatorValueId" name="@String.Format("departmentIndicatorValues[{0}].Value", i)"/>*@
                                <span class="bg-danger" style="display:none">请输入正确数值！</span>
                            }
                        </td>
                        @*审核状态*@
                        <td>
                            @Html.DisplayFor(model => item.IsLocked)
                            @Html.Hidden(String.Format("departmentIndicatorValues[{0}].IsLocked", i), item.IsLocked)
                        </td>
                        <td>
                            @*@Html.EditorFor(model => item.Indicator.Duration.DurationName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })*@
                            @Html.DisplayFor(model => item.Indicator.Duration.DurationName)
                        </td>
                    </tr>
                    i++;
                }
            </table>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="更新" class="btn btn-primary" />
                            <img src="~/Images/ajax-loader.gif" style="display:none" id="edit-indicator-info-ajax" />
                        </div>
                    </div>
        }
        else
        {
            <h5 class="text-warning col-md-offset-5 col-md-7">无内容，请添加管理项目</h5>
        }
    </fieldset>
    }


</div>




