@model IMS2.ViewModels.ProvidingDepartmentIndicatorView.SearchCondition

@{
    ViewBag.Title = "编辑指标";
}
<h2>编辑指标</h2>
<fieldset class="col-md-12 panel panel-default">
    <legend class="text-primary">查找条件</legend>
    @*@using (Html.BeginForm("Index", "ProvidingDepartmentIndicator", FormMethod.Get))*@
    @using (Ajax.BeginForm("_List", "ProvidingDepartmentIndicatorAjax", new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "indicator-info-list", LoadingElementId = "search-indicator-info-ajax" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="dl-horizontal">
            <div class="form-group">
                @Html.Label("选择时间", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.SearchTime, new { htmlAttributes = new { @class = "form-control datetimepicker2", id="search-indicator-time-id" } })
                </div>
                @Html.Label("数据源科室", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @*@Html.DropDownList("providingDepartment", null, htmlAttributes: new { @class = "form-control" })*@
                    @Html.DropDownListFor(model => model.DepartmentId, ViewBag.DepartmentSelect as SelectList, "-请选择-", htmlAttributes: new { @class = "form-control", id = "search-indicator-department-id" })
                </div>
            </div>
            <div class="form-group">
              
                <div class="col-md-6">
                    <input type="submit" value="查询" class="btn btn-info" id="refresh-search-indicator-list-id" style="display:none"/>
                    <img src="~/Images/ajax-loader.gif" style="display:none" id="search-indicator-info-ajax" />
                </div>
            </div>
        </div>
    }
</fieldset>

    <div id="indicator-info-list" class="col-md-12">
    </div>





@section Scripts{
    @Scripts.Render("~/bundles/jqueryajax")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#showitem").hide();
            $("#hideitem").click(function () {
                $(".pitem").hide("slow");
                $("#showitem").show();
                $("#hideitem").hide()
            });
            $("#showitem").click(function () {
                $(".pitem").show("slow");
                $("#hideitem").show();
                $("#showitem").hide();
            });
        });
        $("#search-indicator-department-id").select2();
        //选择科室后自动提交表单，列出设备列表
        $("#search-indicator-department-id").on("change", function (event, data) {
            $(this).submit();
        });
        $("#search-indicator-time-id").on("focusout", function (event, data) {
            $(this).submit();
        });
    </script>
}

