@model IEnumerable<IMS2.Models.DataSourceSystem>

@{
    ViewBag.Title = "Index";
}

<h2>数据来源系统</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<p>
    @Html.ActionLink("创建新项", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataSourceSystemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataSourceSystemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.DataSourceSystemId }) |
            @Html.ActionLink("详情", "Details", new { id=item.DataSourceSystemId }) |
            @Html.ActionLink("删除", "Delete", new { id=item.DataSourceSystemId })
        </td>
    </tr>
}

</table>
