@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <fieldset>
            <legend>
                业务处理
            </legend>
            <ul class="nav nav-pills">
                <li class="col-md-2">@Html.ActionLink("编辑指标值", "Index", "ProvidingDepartmentIndicator", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })</li>
            </ul>
        </fieldset>
        <p>
            <br />
        </p>
        <fieldset>
            <legend>
                指标监测
            </legend>
            <ul class="nav nav-pills">
                <li class="col-md-2">@Html.ActionLink("审核指标", "Index", "SearchDepartmentIndicator", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })</li>
                <li class="col-md-2">@Html.ActionLink("添加指标值", "Index", "ProvidingDepartmentIndicator", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })</li>
                <li class="col-md-2">@Html.ActionLink("查看全院数据", "Index", "ShowDepartmentIndicatorValue", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })</li>
                <li class="col-md-2">@Html.ActionLink("自动获取数据", "Index", "AutoGetDataSource", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })</li>
                <li class="col-md-2">@Html.ActionLink("管理标准值", "Index", "DepartmentIndicatorStandards", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })</li>

            </ul>
        </fieldset>
        <p>
            <br />
        </p>
        <fieldset>
            <legend>
                报表
            </legend>
            <ul class="nav nav-pills">
                <li class="col-md-2">@Html.ActionLink("导出报表", "Index", "Reporters", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })</li>
            </ul>
        </fieldset>
        <p>
            <br />
        </p>
    </div>
    <div class="col-md-12">
        @Html.Partial("_AdminViewPartial")
    </div>
</div>