@model IMS2.ViewModels.IndicatorAlgorithmsView

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IndicatorAlgorithm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstOperand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOperand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondOperand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondOperand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.IndicatorAlgorithmsId }) |
    @Html.ActionLink("返回列表", "Index")
</p>
