@model IEnumerable<IMS2.Models.IndicatorAlgorithm>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ResultId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOperandID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondOperandID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperationMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ResultId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstOperandID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondOperandID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperationMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IndicatorAlgorithmsId }) |
            @Html.ActionLink("Details", "Details", new { id=item.IndicatorAlgorithmsId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IndicatorAlgorithmsId })
        </td>
    </tr>
}

</table>
