
@{
    ViewBag.Title = "IndexJson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IndexJson</h2>
<fieldset>

    
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <form id="valueSearch" method="get" action="@Url.Action("ValueSearchJson", "ShowDepartmentIndicatorValue")">
        <div class="dl-horizontal">
            <div class="form-group">
                @Html.Label("选择时间", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input name="searchTime" id="searchTimeID" type="month" class="form-control" data-val="true" data-val-date="字段 '选择时间' 是必须的"
                           data-val-required="选择时间 字段是必需的。" />
                </div>
            </div>
            <div class="form-group">
                @Html.Label("科室", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("department", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    <input type="submit" value="查询" class="btn btn-info" />
                    <img id="ajax-loader" src="@Url.Content("~/Images/ajax-loader.gif")" style="display:none" />
                </div>
            </div>


        </div>
    </form>
</fieldset>
<p>
    <br />
</p>
<div id="showresults"></div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/IMSjquery.js"></script>

}
