<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 惠州市第一人民医院指标监测系统</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/datetimepicker")
    @Styles.Render("~/Content/select2")
    @Styles.Render("~/Content/sweetAlert")
    @Styles.Render("~/Content/datatable")
    @Scripts.Render("~/bundles/modernizr")
    @*@Styles.Render("~/Content/datetimepickerCss")*@
    @RenderSection("styles", required: false)


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("指标监测系统", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首页", "Index", "Home")</li>
                    @if (User.IsInRole("修改全院指标值") || User.IsInRole("修改科室指标值") || User.IsInRole("Administrators"))
                    {
                        <li>@Html.ActionLink("编辑指标值", "Index", "ProvidingDepartmentIndicatorAjax")</li>
                        <li>@Html.ActionLink("计算指标值", "Create", "StatisticsDepartmentIndicatorValue")</li>
                    }
                    @if (User.IsInRole("修改全院指标值") || User.IsInRole("Administrators"))
                    {
                        <li>@Html.ActionLink("审核指标", "Index", "VerifyDepartmentIndicators")</li>
                        
                        <li>@Html.ActionLink("导入指标", "Index", "ImportDepartmentIndicators")</li>
                        <li>@Html.ActionLink("查看全院数据", "Index", "ShowDepartmentIndicatorValue")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer></footer>
        <p>&copy; @DateTime.Now.Year - 设计者：陈殝达，刘林</p>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetimepicker")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/sweetAlert")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/site")
</body>
</html>
