@model IMS2.ViewModels.DepartmentCategoryIndicatorGroupView

@{
    ViewBag.Title = "Details";
}

<h2>详情</h2>

<div>
    <h4>科室类别指标组</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentCategoryName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        @{
            int i = 1;
        }
        @foreach (var item in Model.IndicatorGroups)
        {

            <dt>
                指标组#@i
            </dt>
            <dd>
                @Html.DisplayFor(model => item.IndicatorGroupName)
            </dd>
            i++;
        }
    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.DepartmentCategoryId }) |
    @Html.ActionLink("返回列表", "Index")
</p>
