@model IEnumerable<IMS2.ViewModels.DepartmentCategoryIndicatorGroupView>

@{
    ViewBag.Title = "Index";
}

<h2>列表</h2>

<p>
    @Html.ActionLink("创建新科室类别", "Create", "DepartmentCategory")
</p>
<table class="table">
    <tr>
        <th>序号</th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentCategoryName)
        </th>
        <th>
            指标组
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>
@{ 
    int i = 1;
}
@foreach (var item in Model) {
    <tr>
        <td>#@i</td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentCategoryName)
        </td>
        <td>
            @{ 
                int j = 1;
            }
            @foreach (var indicatorGroup in item.IndicatorGroups)
            {
                @j@:、
                @Html.DisplayFor(modelItem => indicatorGroup.IndicatorGroupName)
                <br />
                j++;
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.DepartmentCategoryId }) |
            @Html.ActionLink("详情", "Details", new { id=item.DepartmentCategoryId }) |
            @Html.ActionLink("删除", "Delete", new { id=item.DepartmentCategoryId })
        </td>
    </tr>
    i++;
}

</table>
