@model IMS2.Models.Indicator

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Indicator</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataSourceSystem.DataSourceSystemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSourceSystem.DataSourceSystemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department1.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department1.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration.DurationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration.DurationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndicatorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndicatorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAutoGetData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAutoGetData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
