@model IMS2.Models.Indicator

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Indicator</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataSourceSystem.DataSourceSystemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSourceSystem.DataSourceSystemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department1.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department1.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration.DurationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration.DurationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndicatorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndicatorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAutoGetData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAutoGetData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IndicatorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
