@model PagedList.IPagedList<IMS2.ViewModels.IndicatorGroupIndicatorView>

@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
}

<h2>列表</h2>

<table class="table">
    <tr>
        <th>
            序列
        </th>
        <th>
            指标组名
        </th>
        <th>
            指标名
        </th>

        <th>
            优先级
        </th>
        <th>
           备注
        </th>
        <th></th>
    </tr>
    @{ 
        int i = 1;
    }
@foreach (var item in Model) {
    <tr>
        <td>
            #@((ViewBag.pageNumber -1 )* ViewBag.pageSize + i)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IndicatorGroupName)
        </td>
        <td>
            @foreach (var indicator in item.Indicators)
            {
                @Html.DisplayFor(modelItem => indicator.IndicatorName) 
                <br />
            }
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.IndicatorGroupId }) |
            @Html.ActionLink("详情", "Details", new { id=item.IndicatorGroupId }) |
        </td>
    </tr>
    i++;
}

</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",
            new
            {
                page
            }))