@model IMS2.Models.Duration

@{
    ViewBag.Title = "Delete";
}

<h2>删除</h2>

<h3>请谨慎删除！</h3>
<div>
    <h4>跨度</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DurationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
