@model IMS2.Models.Duration

@{
    ViewBag.Title = "Details";
}

<h2>详情</h2>

<div>
    <h4>跨度</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DurationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.DurationId }) |
    @Html.ActionLink("返回列表", "Index")
</p>
