@model IMS2.ViewModels.DepartmentIndicatorCountView

@{
    ViewBag.Title = "科室指标详情";
}

<h2>科室指标详情</h2>
<section>
    <div>
        <h4></h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Department.DepartmentName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Department.DepartmentName)
            </dd>
            <dt>
                时间
            </dt>
            <dd>
                @Html.Label(String.Format("{0:Y}", Model.SearchTime))
            </dd>
        </dl>

        <div class="col-md-offset-1 col-md-11">
            <table class="table table-hover">
                <tr>
                    <td>序号</td>
                    <td>指标</td>
                    <td>值</td>
                    <td>审核</td>
                    <td>跨度</td>
                </tr>

                @if (Model.DepartmentIndicatorValues.Count > 0)
                {
                    int i = 1;
                    foreach (var item in Model.DepartmentIndicatorValues)
                    {
                        <tr>
                            <td># @i</td>
                            <td>
                                @Html.DisplayFor(model => item.Indicator.IndicatorName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Value)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.IsLocked)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Indicator.Duration.DurationName)
                            </td>
                        </tr>
                        i++;
                    }

                }
            </table>
        </div>



    </div>

    <p class="col-md-offset-1 col-md-11">
        @*@{
            var providingDepartmentID = ViewBag.provideDepartment;
        }*@
        @Html.ActionLink("编辑", "Edit", new { id = Model.Department.DepartmentId, time = Model.SearchTime, provideDepartment = ViewBag.provideDepartment }) |
        @Html.ActionLink("返回列表", "IndexAjax", new { searchTime = Model.SearchTime, providingDepartmentID = ViewBag.provideDepartment })
    </p>
</section>