@model IMS2.ViewModels.DepartmentIndicatorCountView

@{
    ViewBag.Title = "编辑数据";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>更改科室指标值</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Department.DepartmentId)
        <input name="provideDepartment" value="@ViewBag.provideDepartment" type="hidden" />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Department.DepartmentName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Department.DepartmentName)
            </dd>
            <dt>
                时间
            </dt>
            <dd>

                <input name="searchTime" readonly="readonly" value="@String.Format("{0:Y}",Model.SearchTime)" />
            </dd>
        </dl>
        @if (Model.DepartmentIndicatorValues != null)
        {
            int i = 0;
            <table class="table table-hover">
                <tr>
                    <th>序号</th>
                    <th>指标</th>
                    <th>值</th>
                    <th>审核</th>
                    <th>时段</th>
                </tr>
                @foreach (var item in Model.DepartmentIndicatorValues)
                    {
                    <tr>
                        <td>#@(i+1)</td>
                        <td>
                            @Html.Hidden(String.Format("departmentIndicatorValues[{0}].DepartmentIndicatorValueId", i), item.DepartmentIndicatorValueId)
                            @Html.DisplayFor(model => item.Indicator.IndicatorName)
                        </td>
                        <td>
                            @*如果已审核，不能更改*@
                            @if (item.IsLocked == true)
                            {
                                @Html.DisplayFor(model => item.Value)
                            }
                            else
                            {
                                @Html.TextBox(String.Format("departmentIndicatorValues[{0}].Value", i), item.Value)
                                @Html.ValidationMessageFor(model => item.Value, "", new { @class = "text-danger" })

                            }
                        </td>
                        @*审核状态*@
                        <td>
                            @Html.DisplayFor(model => item.IsLocked)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Indicator.Duration.DurationName)
                        </td>
                    </tr>
                    i++;
                }
            </table>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div>
    
    @Html.ActionLink("返回列表", "Index", new { searchTime = Model.SearchTime, providingDepartment = @ViewBag.provideDepartment })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
