@model IMS2.ViewModels.ProvideDepartmentIndicatorView

@{
    ViewBag.Title = "数据来源科室列表";
}
<h2>数据来源科室</h2>
<fieldset>

    @using (Html.BeginForm("Index", "ProvidingDepartmentIndicator", FormMethod.Get))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="dl-horizontal">
            <div class="form-group">
                @Html.Label("选择时间", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input name="searchTime" id="searchTimeID" type="month" class="form-control" data-val="true" data-val-date="字段 '选择时间' 是必须的"
                           data-val-required="选择时间 字段是必需的。" />
                </div>
            </div>
            <div class="form-group">
                @Html.Label("数据源科室", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("providingDepartment", null, htmlAttributes: new { @class = "form-control" })

                </div>
                <div class="col-md-6">
                    <input type="submit" value="查询" class="btn btn-info" />

                </div>
            </div>
        </div>
    }
</fieldset>
<p>
    <br />
</p>
@if (Model != null)
{
    if (Model.provideDepartment != null)
    {
        <div class="col-md-offset-2 col-md-10">
            <button id="hideitem" class="btn btn-default btn-xs"><span class="label label-primary">隐藏项目</span></button>
            <button id="showitem" class="btn btn-default btn-xs"><span class="label label-primary" hidden="hidden">显示项目</span></button>

        </div>
        <section id="provideitem">
            <div class="col-md-2 pitem">
                (@Model.provideDepartment.DepartmentName)负责的项目：

            </div>
            <div class="col-md-10 pitem">
                <table class="table table-hover">
                    <tbody>
                        @if (Model.Indicators != null)
                        {
                            int i = 1;
                            foreach (var item in Model.Indicators)
                            {

                                <tr>
                                    <td># @i</td>
                                    <td>@item.IndicatorName</td>
                                    <td>@item.Duration.DurationName</td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>

                </table>
            </div>
        </section>
    }
    if (User.IsInRole("修改全院指标值") || User.IsInRole("Administrators") || User.IsInRole("创建指标值"))
    {
        <section>

            @using (Html.BeginForm("Create", "ProvidingDepartmentIndicator", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.provideDepartment.DepartmentId)
                <input name="departmentID" hidden="hidden" value="@ViewBag.departmentID" />
                @Html.HiddenFor(model => model.searchTime)

                <div class="form-group">
                    <div class="col-md-10 pitem">
                        <input type="submit" value="添加上述项目" class="btn btn-danger" data-toggle="modal" data-target="#myModal" data-keyboard="false" />
                    </div>
                </div>
                <p></p>
                }

        </section>
    }
    if (Model.DepartmentIndicatorCountViews != null)
    {
<table class="table table-hover">

    <tr>
        <td>@Html.Label("科室")</td>
        <td>@Html.Label("指标完成度")</td>
        <td>时间</td>

        <td></td>
    </tr>
    @foreach (var item in Model.DepartmentIndicatorCountViews)
            {
        <tr>
            <td>@item.Department.DepartmentName</td>
            <td>@item.HasValueCount / @item.IndicatorCount</td>
            <td>@Model.searchTime.GetDateTimeFormats('y')[0]</td>
            <td>

                @Html.ActionLink("编辑", "Edit", new { id = item.Department.DepartmentId, time = item.SearchTime, provideDepartment = Model.provideDepartment.DepartmentId }) |
                @Html.ActionLink("详情", "Details", new { id = item.Department.DepartmentId, time = item.SearchTime, provideDepartment = Model.provideDepartment.DepartmentId }) |
            </td>
        </tr>
    }
</table>
    }
}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加项目</h4>
            </div>
            <div class="modal-body">
                正在努力添加中，请稍候……
            </div>
        </div>
    </div>
</div>

@section Scripts{

    @Scripts.Render("~/bundles/datetimepicker")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#showitem").hide();
            $("#hideitem").click(function () {
                $(".pitem").hide("slow");
                $("#showitem").show();
                $("#hideitem").hide()
            });
            $("#showitem").click(function () {
                $(".pitem").show("slow");
                $("#hideitem").show();
                $("#showitem").hide();
            });
        });
    </script>
}


