@model IEnumerable<IMS2.Models.IndicatorGroup>

@{
    ViewBag.Title = "列表";
}

<h2>列表</h2>
<p class="text-success">@ViewBag.StatusMessage</p>

<p>
    @Html.ActionLink("创建新项", "Create")
</p>
<table class="table">
    <tr>
        <th>
            序号
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IndicatorGroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>
    @{ 
        int i = 1;
    }
@foreach (var item in Model) {
    <tr>
        <td>#@i</td>
        <td>
            @Html.DisplayFor(modelItem => item.IndicatorGroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.IndicatorGroupId }) |
            @Html.ActionLink("详情", "Details", new { id=item.IndicatorGroupId }) |
            @Html.ActionLink("删除", "Delete", new { id=item.IndicatorGroupId })
        </td>
    </tr>
    i++;
}

</table>
