@model IMS2.Models.DepartmentIndicatorValue

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>科室指标值详情</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indicator.IndicatorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indicator.IndicatorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLocked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLocked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentIndicatorStandard.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentIndicatorStandard.Remarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DepartmentIndicatorValueId }) |
    @Html.ActionLink("Back to List", "Index",
    new
    {
        startTime = Model.Time,
        endTime = Model.Time,
        department = Model.DepartmentId
    })
</p>
