@model IEnumerable<IMS2.Models.DepartmentIndicatorValue>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "SearchDepartmentIndicator", FormMethod.Get))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="dl-horizontal">
        <div class="form-group">
            @Html.Label("开始时间", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="startTime" id="searchTimeID" type="month" class="form-control" data-val="true" data-val-date="字段 '开始时间' 是必须的" data-val-default="@DateTime.Now"
                       data-val-required="开始时间 字段是必需的。" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("截止时间", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="endTime" id="searchTimeID" type="month" class="form-control" data-val="true" data-val-date="字段 '结束时间' 是必须的"
                       data-val-required="结束时间 字段是必需的。" data-val-default="@DateTime.Now" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("科室", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("department", null, htmlAttributes: new { @class = "form-control" })

            </div>

        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="查询" class="btn btn-info" />

            </div>
        </div>

    </div>
}
@if (Model != null)
{
    int i = 0;
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-default" />
            </div>
        </div>

        <table class="table table-hover">
            @*<tr>
                <th></th><th></th><th></th><th></th>
                <th>全选</th>
                <th></th><th></th><th></th>
            </tr>*@
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Department.DepartmentName)
                </th>
                <th>

                    @Html.DisplayNameFor(model => model.Indicator.IndicatorName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Value)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsLocked)
                </th>
                <th>
                    时段
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartmentIndicatorStandard.Remarks)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.Hidden(String.Format("departmentIndicatorValue[{0}].DepartmentIndicatorValueId", i), item.DepartmentIndicatorValueId)
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Indicator.IndicatorName)
                </td>
                <td>
                    
                    @Html.Label(String.Format("departmentIndicatorValue[{0}].Time", i), String.Format("{0:Y}", item.Time))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.IsLocked)*@
                    @Html.CheckBox(String.Format("departmentIndicatorValue[{0}].IsLocked", i), item.IsLocked ? true : false)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Indicator.Duration.DurationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentIndicatorStandard.Remarks)
                </td>

                <td>
                    @Html.ActionLink("编辑", "Edit", new { id = item.DepartmentIndicatorValueId }) |
                    @Html.ActionLink("详情", "Details", new { id = item.DepartmentIndicatorValueId }) |
                </td>
            </tr>
                i++;
            }

        </table>
    }
}
