@model  PagedList.IPagedList<IMS2.Models.DepartmentIndicatorValue>
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "审核指标值";
}

<h2>审核指标值</h2>

@using (Html.BeginForm("Index", "SearchDepartmentIndicator", FormMethod.Get))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="dl-horizontal">
        <div class="form-group">
            @Html.Label("开始时间", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="startTime" id="searchTimeID" type="month" class="form-control" data-val="true" data-val-date="字段 '开始时间' 是必须的" data-val-default="@DateTime.Now"
                       data-val-required="开始时间 字段是必需的。" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("截止时间", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="endTime" id="searchTimeID" type="month" class="form-control" data-val="true" data-val-date="字段 '结束时间' 是必须的"
                       data-val-required="结束时间 字段是必需的。" data-val-default="@DateTime.Now" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("科室", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("department", null, htmlAttributes: new { @class = "form-control" })

            </div>
            <div class="col-md-6">
                <input type="submit" value="查询" class="btn btn-info" />

            </div>
        </div>
    </div>
}
@{ 
    int i = 0;
}
    @using (Html.BeginForm())
    {
        
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        <div class="form-group">
@if (Model.PageCount > 0 && (User.IsInRole("Administrators") || User.IsInRole("审核全院指标值")))
{
            <div class="col-md-offset-10 col-md-2">
                <input type="submit" value="审核确定" class="btn btn-primary" />
            </div>
}
        </div>
        <table class="table table-hover">
            @*<tr>
                    <th></th><th></th><th></th><th></th>
                    <th>全选</th>
                    <th></th><th></th><th></th>
                </tr>*@
            
            @if (Model.PageCount > 0)
            {
            <tr>
                <th>序号</th>
                <th>
                    科室
                </th>
                <th>

                    指标
                </th>
                <th>
                    时间
                </th>
                <th>
                    值
                </th>
                <th>
                    审核
                </th>
                <th>
                    时段
                </th>
                <th>
                    备注
                </th>

                <th></th>
            </tr>
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>#@(i+1)</td>
                    <td>
                        @Html.Hidden(String.Format("departmentIndicatorValue[{0}].DepartmentIndicatorValueId", i), item.DepartmentIndicatorValueId)
                        @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Indicator.IndicatorName)
                    </td>
                    <td>

                        @Html.Label(String.Format("departmentIndicatorValue[{0}].Time", i), String.Format("{0:Y}", item.Time))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @if (User.IsInRole("Administrators") || User.IsInRole("审核全院指标值"))
                        {
                            @Html.CheckBox(String.Format("departmentIndicatorValue[{0}].IsLocked", i), item.IsLocked ? true : false)

                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.IsLocked)
                        }
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Indicator.Duration.DurationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentIndicatorStandard.Remarks)
                    </td>

                    <td>
                        @Html.ActionLink("编辑", "Edit", new { id = item.DepartmentIndicatorValueId }) |
                        @Html.ActionLink("详情", "Details", new { id = item.DepartmentIndicatorValueId }) |
                    </td>
                </tr>
                i++;
            }

        </table>
        <br />
    }
    @*@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount*@

    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",
            new
            {
                page,
                startTime = ViewBag.startTime,
                endTime = ViewBag.endTime,
                department = ViewBag.departmentID
            }))





